.header-image {
    background: url(//source.unsplash.com/collection/837029/daily) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}