<template>
  <div class="column is-half is-offset-3">
    <div class="create-page section">
      <h1 class="title">Create</h1>

      <b-tabs v-model="activeTab">
        <b-tab-item label="Parse List">
            <b-field>
                <b-field label="Message">
                    <b-input maxlength="200" type="textarea" v-model="textToParse" expanded></b-input>
                </b-field>              
            </b-field>
            
            <div class="block">
              <a class="button" v-on:click="parseTextToList">Parse</a>
            </div>
        </b-tab-item>

        <b-tab-item label="Create Individually">
            <ul>
              <li>
                <b-field grouped>
                    <b-input placeholder="New Item" expanded v-model="textItem"></b-input>
                    <p class="control">
                        <button class="button is-primary" v-on:click="appendItem(textItem)">Add</button>
                    </p>
                </b-field>
              </li>
            </ul>
        </b-tab-item>
      </b-tabs>
      <hr>
      <div class="box">
        <div class="block">
          <b-input placeholder="List title" expanded v-model="listTitle"></b-input>
        </div>
        <article class="media">
          <ul id="listItems">
            <li v-for="listItem in listItems">
              {{ listItem }}
            </li>
          </ul>
        </article> 
      </div>
    </div>
  </div>
</template>

<script type="text/javascript">

export default {
  data () {
    return {
      activeTab: 0,
      textItem: '',
      textToParse: '',
      listItems: [],
      listTitle: ''
    }
  },
  methods: {
    appendItem: function (item) {
      if (!item) return
      this.listItems.push(item)
      this.textItem = ''
    },
    parseTextToList: function () {
      let items = this.textToParse.split('\n')
      let self = this
      items.forEach(function (item) {
        self.appendItem(item)
      })
      this.textToParse = ''
    },
    createList: function () {
      // this.$http
      //     .get('http://localhost:3001/api/random-quote', (data) => {
      //       this.quote = data;
      //     })
      //     .error((err) => console.log(err))
    }
  }
}
</script>

<style scoped>

</style>
