<template>
  <div class="column">
    <div class="home-page section">
      <h1>Title here 1111</h1>

      <p>Some description here</p>
      <router-link to="/create">Create a new link</router-link>
    </div>    
  </div>
</template>

<script type="text/javascript">

export default {
  data () {
    return {
      lists: []
    }
  },
  methods: {
    getLists: function () {
      this.$http.get('http://localhost:3000/api/lists').then(response => {
        return response
      }).then(data => {
        console.log(data)
      })
    }
  },
  created: function () {
    this.getLists()
  }
}
</script>

<style scoped>

</style>
