<template>
    <section class="hero is-primary is-large header-image">
    <div class="hero-head">
      <header class="nav">
        <div class="container">
          <div class="nav-left">
            <a class="nav-item" href="../index.html">
              RateLists
            </a>
          </div>
          <span class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
          </span>
          <div class="nav-right nav-menu">
            <router-link class="nav-item" to="login">Login</router-link>
            <router-link class="nav-item" to="signup">Register</router-link>
          </div>
        </div>
      </header>
    </div>
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title is-2">
          Something here
        </h1>
        <h2 class="subtitle is-5">
          lorem ipsum
        </h2>
        <p>
          <a class="button is-outlined">
            <span class="icon">
              <i class="fa fa-download"></i> 
            </span>
            <span>
              Download
            </span>
          </a>
        </p>
      </div>
    </div>
  </section>
</template>

<script>
export default {}
</script>

<style>
    .header-image {
        background: url(//source.unsplash.com/collection/210767/daily) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>
