<template>
  <section class="hero is-fullheight is-dark header-image">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-4 is-offset-4">
            <h1 class="title">
              Login
            </h1>
            <div class="box">
              <label class="label">Email</label>
              <p class="control">
                <input class="input" type="text" placeholder="Email" v-model="credentials.email">
              </p>
              <label class="label">Password</label>
              <p class="control">
                <input class="input" type="password" placeholder="●●●●●●●" v-model="credentials.password">
              </p>
              <hr>
              <p class="control">
                <button class="button is-primary" v-on:click="login">Login</button>
                <button class="button is-default" v-on:click="cancelLogin">Cancel</button>
              </p>
            </div>
            <p class="has-text-centered">
              <router-link to="signup">Register</router-link>
              | 
              <router-link to="help">Need help?</router-link>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data () {
    return {
      credentials: {
        email: '',
        password: ''
      },
      error: ''
    }
  },
  methods: {
    login () {
      this.$store.dispatch('login', this.credentials).then(res => {
        this.$router.push('/')
      })
    },
    cancelLogin () {
      this.credentials.email = ''
      this.credentials.password = ''
    }
  }
}
</script>

<style scoped>
  .header-image {
      background: url(//source.unsplash.com/collection/210767/daily) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }
</style>
